spring:
  application:
    name: "payment-service"
  profiles:
    active: ${PAYMENT_PROFILE:dev}

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: never